*{margin:0; padding:0;}
		
.ban_0 {width:998px;height:394px;overflow:hidden;position:relative;}
.ban_0 .ban_c0 {width:998px;height:394px;overflow:hidden;}
.ban_0 .ban_c0 li{list-style:none; list-style:none;}
.ban_0 .ban_c0 img { border:0px; width:998px; height:394px}

.ban_0 .ban_n0 {position:absolute;z-index:1002;bottom:5px; right:5px;}
.ban_0 .ban_n0 li {float:left;width:15px;height:15px;background-color:#6F4F67;border:1px solid #FFF;margin-left:2px;cursor:pointer;line-height:15px;list-style:none;}
.ban_0 .ban_n0 a{text-decoration:none;}
.ban_0 .ban_n0 li.on {background-color:#CC0000;}